@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200 scroll-smooth
}

.slick-slide > div {
  margin: 0 10px
}

::-webkit-scrollbar {
  scrollbar-width: none; 
  width: 0.3rem;
  background-color: aliceblue;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: .5rem;
}